.ContactData {
    margin: 20px auto;
    width: 80%;
    text-align: center;
    padding: 20px;
    border: 1px solid #eee;
    box-shadow: 1px 2px 3px #ccc;
    box-sizing: border-box;
}

.Input {
    display: block;
}



@media (min-width : 600px) {
    .ContactData  {
        width: 500px;
    }
}